/Projetos (Template)/Crediário (Parte 1)/build/
/Projetos (Template)/Crediário (Parte 1)/dist/
/Projetos (Template)/Shop Credi/build/
/Projetos (Template)/Shop Credi/dist/
/Projetos (Template)/Shop Credi/nbproject/private/
